.Button{
    font-size: 30px;
    font-family: sans-serif;
    width: 500px;
    outline-width: 10px;
    outline-style: double;
    outline-color: #9e671e;
    fill: blanchedalmond;
    color: #292952;
    align-self: center;
    align-content: center ko;/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////..                                   ;
}